body, html{
  margin:0;
  padding:0;
}
.headers {
  position:absolute;
  z-index: 1;
  top:100px;
  left:50px;
  max-width: 500px;
}
h1 {
      text-align: center;
      color: #ffffff;
      font-size: 28px;
      font-family: "Gotham SSm 7r", "Gotham SSm A", "Gotham SSm B", "Open Sans", "Roboto", "Helvetica Neue", Helvetica, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;
      text-shadow: 1px 1px 10px rgba(100, 100, 100, 0.4);
      font-size: 36px;
      position:relative;
}
h3{
  text-align: center;
  font-family: "Sentinel SSm A", "Sentinel SSm B", Cambria, "Times New Roman", Times, serif;
    color: #ffffff;
    text-transform: none;
    font-weight: normal;
    font-size: 16px;
    max-width: 475px;
    text-shadow: 1px 1px 10px rgba(100, 100, 100, 0.4);
    position:relative;
}
.logo{
  height:20px;
  position:relative;
  top:6px;
}
.image {
  max-width:100%;
  height: auto;
  position:relative;
}
.top-container{
  margin:15px !important;
}
.main-container{
  width:100%;
  height:300px;
}
.cart {
  float:right;
  height:30px;
  margin-right:15px;
}
.form-control {
  float:left;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eeeeee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
.nav-container{
  background-color:white;
  border-bottom: 1px solid lightgrey;
}

.nav-list{
  margin: 0 auto;
  text-align: center;
}

.nav-list li{
  display: inline-block;
  padding: 10px 10px;
  margin: 0;
}

.nav-list li:last-child{
  border-right: none;
}
.mybutton {
  position:relative;
  top:24px;
}
